#root {
  width: 550px;
  margin: 0 auto; /*This centers the design*/
  padding: 5rem;
  /* text-align: center; */
}

p {
  font-size: .7rem;
  line-height: 1.5;
  color: #fff;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.read-the-docs {
  color: #b7b7b7;
}

.app--container {
  border: 5px solid #919191;
  border-radius: 15px;
}

.navbar--container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background-color: #F55A5A;
  max-height: 55px;
  border-radius: 10px 10px 0 0;
  /* box-shadow: 0 0 1em #00000022; */
}

.main--container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  background-color: #313131;
  max-height: 704px;
  /* box-shadow: 0 0 1em #00000022; */
}

.main--container:first-child {
  /* Your CSS styles for the first main--container here */
  padding-top: 3.5rem;
}

.main--container:last-child {
  /* Your CSS styles for the last main--container here */
  border-radius: 0 0 10px 10px;
  padding-bottom: 2rem;
}

.card--image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1.5rem;
}

.card--stats {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  max-width: 326px;
  margin-top: 0.5rem;
}

.location--icon {
  font-size: 13px;
  color: #f55a5a;
  margin: 0 0.5rem 0.1rem 0;
  align-items: center;
}

.card--location {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.card--url {
  font-size: 0.7rem;
  color: #7f7f7f;
  margin: .5rem;
}

.card--title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin: 0 0 0.5rem 0;
}

.card--date {
  font-size: 0.7rem;
  color: #ffa5a5;
  margin-bottom: 1rem;
}

.card--description {
  /* margin: 0 auto; */
  font-size: .6rem;
}


